@charset "utf-8";

p.log-in {
	font-size: 1rem;
	color: #6e6e6e;
}

.table-primary {
	text-align: center;
}

.table > tbody > tr {
	text-align: center;
}

.table > tbody > tr > td:nth-child(2) {
	text-align: left;
}

@media (max-width: 576px) {
	.table > tbody > tr > td:nth-child(2),
	.table-primary th:nth-child(2) {
		width: 50%;
	}
	
	.table > tbody > tr > td:nth-child(4),
	.table-primary th:nth-child(4) {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.table > tbody > tr > td:nth-child(1),
	.table > tbody > tr > td:nth-child(3),
	.table > tbody > tr > td:nth-child(5),
	.table-primary th:nth-child(1),
	.table-primary th:nth-child(3),
	.table-primary th:nth-child(5) {
		display: none;
	}
}

@media (min-width: 768px) {
	.table > tbody > tr > td:nth-child(1),
	.table-primary th:nth-child(1) {
		width: 10%;
	}
	
	.table > tbody > tr > td:nth-child(2),
	.table-primary th:nth-child(2) {
		width: 50%;
	}
	
	.table > tbody > tr > td:nth-child(3),
	.table-primary th:nth-child(3) {
		width: 15%;
	}
	
	.table > tbody > tr > td:nth-child(4),
	.table-primary th:nth-child(4) {
		width: 15%;
	}
	
	.table > tbody > tr > td:nth-child(5),
	.table-primary th:nth-child(5) {
		width: 10%;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {	
	
}
