@charset "utf-8";

.table tr > td:nth-child(1) {
	text-align: center;
	width: 20%;
}

.table tr > td:nth-child(2) {
	width: 80%;
}

@media (max-width: 576px) {
	.table tr > td:nth-child(1) {
		width: 30%;
	}

	.table tr > td:nth-child(2) {
		width: 70%;
	}
}